.tab-content > .tab-pane {
	display: block;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
    overflow: hidden;
}

.tab-content > .active {
    display: block;
    opacity: 1;
    height: inherit;
}